<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
 <form name="register" method="post" action="../insertuser/">
        {% csrf_token %}
    <pre>   
      <h1>Register Form</h1>   
    UID     : <input type="text" name="tuid" value="" width="200" ><br>
    Name    : <input type="text" name="tuname" value="" width="200" ><br>
    Email   : <input type="text" name="tuemail" value="" width="200" ><br>
    Contact : <input type="text" name="tucontact" value="" width="200" ><br>
    <input type="submit" name="reg" value="Click to register" width="300" height="100">
   </pre>
 </form>

</center>         
</body>
</html>    